body {
  background-color: white;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Main {
  display: flex;
  flex-direction: row;
  height: 90px;
  align-items: center;
  justify-content: space-around;
  border: 1px black solid;
  background-color: black;
}

.nav1 {
  margin-left: 90px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
}

.nav > li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding-left: 40px;
}
.btn {
  padding: 12px 16.5px 12px 16.5px;
  height: 50px;
  background-color: black;
  color: white;
  border: 1px white solid;
  border-radius: 35px;
}

.btn2 {
  background-color: #ed1c24 !important;
}

.orderonline {
  height: 55px;
  padding-top: 2px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ed1c24;
  color: white;
  border: none;
  border-radius: 35px;
}

/* Hero Section Styling  */
.container {
  background-image: url('https://static.tossdown.com/images/f1542832-c427-43bc-bee3-6e80af4d4569.webp');
  background-size: cover;
  background-position: center;
  position: relative;
  /* border: 10px red solid; */
  height: 80vh;
}
/* Hero Section Styling  End */
/* Third Section  Start  */

.third {
  color: white;
  background-color: black;
  margin-top: -10px;
  text-align: center;
  padding-top: 40px;
}
.third > h1 {
  font-family: 'Apercu';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  color: #ffffff;
}
.third > h3 {
  margin-top: -30px;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
}
.third > p {
  margin-top: 30px;
  /* font-size: 30px; */
  color: lightgray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
}

.cardmain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  height: 40vh;
}
.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -140px;
  /* border: 1px white solid; */
  /* width: 390px; */
}
.image {
  border-radius: 5px;
  width: 250px;
  height: 140px;
  border: 1px white solid;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 15px;
}

/* third section styling end  */

/* Four section styling Start */
.fourmain {
  background-color: #181818;
  margin-top: -20px;
  padding-bottom: 20px;
}
.btn22 {
  background-color: #181818 !important;
  border: none;
  /* background-color: #ed1c24; */
  color: white;
  height: 50px;
}

.sectionfourtext {
  padding-top: 40px;
  text-align: center;
  color: white;
}
.sectionfourtext > h1 {
  font-size: 52px;
}
.sectionfourtext > h3 {
  margin-top: -50px;
  font-size: 48px;
}
.sectionfourtext > p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: -40px;
  font-size: 16px;
  padding-left: 50px;
  padding-right: 50px;
}

.Islamabad {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.Islamabad-text {
  color: white;
  width: 20%;
}
.Islamabad-text > p {
  color: #ed1c24;
}
.Islamabad-text > h4 {
  margin-top: -20px;
  font-size: 32px;
}
.Islamabad-text > h3 {
  font-size: 32px;
  font-weight: 300;
  margin-top: -50px;
}
.Islamabad-text > div > p {
  margin-top: -5px;
}
#address {
  /* color: rebeccapurple; */
  margin-top: -30px;
}
.btn-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px white solid;
  border-radius: 35px;
  width: 200px;
  justify-content: center;
}
.btn2 {
  height: 50px;
  background-color: #181818;
  color: white;
  border: none;
}
.arrow {
  background-color: white;
  color: #ed1c24;
  border-radius: 30px;
  height: 30px;
  padding: 2px 10px 2px 10px;
}
/* Four section styling End */
/* FIve section styling Start */
.fivemain {
  background-color: black;
  margin-top: -20px;
  padding-bottom: 20px;
}
.five-text {
  text-align: center;
  color: white;
  margin-bottom: -50px;
}
.five-text > h2 {
  padding-top: 30px;
}
.five-text > h1 {
  font-weight: 300;
  margin-top: -30px;
}
.image-four {
  width: 310px;
  height: 200px;
  margin-left: 5px;
  margin-top: -70px;
}
#endspace {
  margin-bottom: -10px;
}
.cardmain-five {
  margin-top: 100px;
  color: white;
  /* margin-left: 30px; */
}
.cardmain-five1 {
  margin-top: 100px;
  color: white;
  /* margin-left: 30px; */
}

.five-images {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 60px;
  padding-right: 60px;
  padding: 190px;
}
.card12 {
  margin-top: 30px;
  text-align: center;
}
/* FIve section styling End */
/* Six section styling Start */
.sectionsix {
  background-color: #181818;
  /* height: 40vh; */
  margin-top: -100px;
  padding-bottom: 50px;
}
.sixtext {
  color: white;
  text-align: center;
  padding-top: 20px;
}
.sixtext > h3 {
  margin-bottom: -60px;
  font-size: 52px;
}
.sixtext > h2 {
  font-size: 48px;
}
.sectionsixcard {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.Islamabad {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.Islamabad-text1 {
  color: white;
  /* width: 20%; */
  margin-right: 90px;
}
.Islamabad-text1 > p {
  color: #ed1c24;
}
.Islamabad-text1 > h4 {
  margin-top: -20px;
  font-size: 32px;
}
.Islamabad-text1 > h3 {
  font-size: 32px;
  font-weight: 300;
  margin-top: -50px;
}
.Islamabad-text1 > div > p {
  margin-top: -5px;
}
.btn223 {
  background-color: #28a745 !important;
  border: none;
  /* background-color: #ed1c24; */
  color: white;
  height: 50px;
}
.btn-main1 {
  background-color: #28a745 !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 35px;
  width: 200px;
  justify-content: center;
}
/* Six section styling End */
/* Seven section styling Start */
.sectionseven {
  background-color: black;
  margin-top: -30px;
  padding-bottom: 30px;
}

.seven-text {
  text-align: center;
  color: white;
  padding-top: 40px;
}
.section-seven-card-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
}
.section-seven-card {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px white solid;
  margin: 5px;
  padding-top: 30px;
  text-align: center;
  width: 300px;
  height: 25vh;
  padding-bottom: 50px;
  color: black;
}
.section-seven-card > h5 {
  margin-bottom: -15px;
}
.section-seven-card > p {
  margin-bottom: -15px;
}
#soon {
  color: #ed1c24;
  margin-bottom: -30px;
}
.section-seven-card1 {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 5px;
  margin-top: 40px;
  padding-top: 30px;
  text-align: center;
  width: 300px;
  height: 25vh;
  padding-bottom: 50px;
  color: black;
}
.section-seven-card1 > h5 {
  margin-bottom: -15px;
}
.section-seven-card1 > p {
  margin-bottom: -15px;
}
#soon {
  color: #ed1c24;
  margin-bottom: -30px;
}

.Sc-4 {
  color: #ffffff;
  text-align: center;
  font-size: 32px;
}

.social {
  display: flex;
  flex-direction: row;
  /* justify-content:center; */
  justify-content: space-around;
  align-items: center;
  padding-bottom: 60px;
}
/* Seven section styling End */

.footermain {
  background-color: #181818;
  margin-top: -30px;
}
.footersection {
  padding-top: -30px;
  display: flex;
  padding: 50px;
  flex-direction: row;
  justify-content: space-around;
}
.footersection1 {
  width: 20%;
}
.footersection1 > p {
  color: white;
}
.footersection1 > ul > li {
  color: white;
  padding-top: 10px;
}
.para {
  margin-left: 40px;
}
.icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}